@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Alfa+Slab+One&family=Karla:ital,wght@0,200..800;1,200..800&family=Kaushan+Script&display=swap');

*{
    font-family: "Karla", sans-serif;
    font-weight: 100;
    font-style: normal;
    scroll-behavior: smooth;

}

hr{
    color: #333;
    height: 2px; /* Membuat garis horizontal (hr) menjadi lebih tebal */
}

.paddtop{
    padding-top: 100px;
}

.navbar-brand{
    font-family: "Kaushan Script", serif;
    font-weight: 400;
    font-style: normal;
  
}

#beranda{
    background-image: url("../image/gaza-home.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 13% 0;
}

.title-page{
    font-size: 30px;
    font-family: "Alfa Slab One", serif;

}

.bg-dark-nav{
    background-color: #2d273553 !important;
    backdrop-filter: blur(10px);
}

.tagline-home{
    font-size:50px;
    width: 60%;
    font-weight: 100;
    font-family: "Alfa Slab One", serif;
}

.desc-title-home{
    width: 60%;
    font-size: 20px;
    font-weight: 100;
    font-style: italic;

}

.bg-orange{
    background-color: #FC6D10;
    border-radius: 10px;
}

/* tentang-kami */

.pop-laporan{
    width: 350px;
    background-color: #383838;
    top: -200px;
}

.tagline-laporan{
    font-size: 30px;
    font-family: "Alfa Slab One", serif;
}

.pop-laporan p{
    font-size: 13px;
}

.title-tentang{
    font-family: "Alfa Slab One", serif;
    width: 80%;
}

.paragraf-tentangkami{
    font-family: "Karla", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* Donasi */

#program-donasi{
    margin-bottom: 100px;
}

.card{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
}

.card:hover{
    transform: translateY(-10px);
}

.title-card{
    font-weight: 900;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.parag-card{
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    width: 90%;
}