@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Alfa+Slab+One&family=Karla:ital,wght@0,200..800;1,200..800&family=Kaushan+Script&display=swap');

*{
    font-family: "Karla", sans-serif;
    font-weight: 100;
    font-style: normal;
    scroll-behavior: smooth;

}

hr{
    color: #333;
    height: 2px; /* Membuat garis horizontal (hr) menjadi lebih tebal */
}

.paddtop{
    padding-top: 100px;
}

.navbar-brand{
    font-family: "Kaushan Script", serif;
    font-weight: 400;
    font-style: normal;
  
}

#beranda{
    background-image: url("../image/gaza-home.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 13% 0;
}

.title-page{
    font-size: 30px;
    font-family: "Alfa Slab One", serif;

}

.bg-dark-nav{
    background-color: #2d273553 !important;
    backdrop-filter: blur(10px);
}

.tagline-home{
    font-size:50px;
    width: 60%;
    font-weight: 100;
    font-family: "Alfa Slab One", serif;
}

.desc-title-home{
    width: 60%;
    font-size: 20px;
    font-weight: 100;
    font-style: italic;

}

.bg-orange{
    background-color: #FC6D10;
    border-radius: 10px;
}

/* tentang-kami */

.pop-laporan{
    width: 350px;
    background-color: #383838;
    top: -200px;
}

.tagline-laporan{
    font-size: 30px;
    font-family: "Alfa Slab One", serif;
}

.pop-laporan p{
    font-size: 13px;
}

.title-tentang{
    font-family: "Alfa Slab One", serif;
    width: 80%;
}

.paragraf-tentangkami{
    font-family: "Karla", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* Donasi */

#program-donasi{
    margin-bottom: 100px;
}

.card{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
}

.card:hover{
    transform: translateY(-10px);
}

.title-card{
    font-weight: 900;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.parag-card{
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    width: 90%;
    color: #666;
}

/* Donasi Yang Diterima */

.card-donatur{
    width: 350px;
    position: relative;
}


.name_no-donatur{
    width: 100%;
    background-color: #383838;
    border-radius: 10px;
    align-items: center;
    color: #fff;
    height: 35px;
    margin-bottom: 20px;
}


.no-donatur{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    position: relative;
    left: 10px;
    top: -20px;
    background-color: #636363;
    font-size: 25px;
    font-family: "Alfa Slab One", serif;
    font-style: normal;
    font-weight: 100;
}

.name-donatur{
    font-size: 15px;
    margin-left: 10px;
    font-family: "Alfa Slab One", serif;
    font-style: normal;
    font-weight: 100;
}

.count_msg{
    background-color: #383838;
    padding: 15px;
    color: #fff;
    border-radius: 10px;
}

.count-donatur{
    font-size: 20px;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.msg-donatur{
    font-size: 15px;
}


/* Animasi : Infinite Scroll */
@keyframes infiniteScroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.container-cards{
    overflow: hidden;
    display: flex;
    margin: 30px 0;
    padding-top: 30px;
    justify-content: start;
}

.container-cards:hover .cards-slide{
    animation-play-state: paused;
}


.cards-slide{
    display: flex;
    align-items: center;
    animation: infiniteScroll 20s infinite linear;
    justify-content: center;
}

/* Start Footer */

#footer{
    height: 30vh;
    background-color: #FC6D10;
    margin-top: 300px;
    padding: 50px;
    color: #fff !important;
}

.navbar-footer{
    width: 200px;
    margin: 0 100px;
}

.navbar-footer li{
    font-size: 20px;
    list-style: none;
    a{
        color: #fff;
        text-decoration: none;
    }
}

.navbar-footer li:hover{
    margin-left: 20px;
    transition: all ease 0.5s;
}

.contact-footer li{
    list-style: none;
    font-size: 20px;
    a{
        text-decoration: none;
        color: #fff;
    }
}

.contact-footer li:hover{
    margin-left: 20px;
    transition: all ease 0.5s;
}

/* End Footer */


/* Start Page Donasi */
#page_donate{
    background-image: url("../image/bg-donate.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.form-donasi{
    padding: 30px;
    height: 90vh;
    width: 500px;
    background-color: #383838;
    border-radius: 15px;
}

.title-formdonate{
    font-family: "Alfa Slab One", serif;
    font-size: 30px;
}

.parag-formdonate{
    font-size: 15px;    
}

.inputan{
    width: 100%;
    padding: 20px 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #282828;
    border: none;
    outline: none;
    color: #fff;
    margin-top: 10px;
}

/* End Page Donasi */

/* Start Form Donasi */

.side-left{
    height: 100vh;
    background-color: #666;
}

.side-right{
    height: 100vh;
    background-color: cornsilk;
}
.radio-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* Hide the default radio button */
.radio-container input[type="radio"] {
    display: none;
}

/* Style each label as button */
.radio-container label {
    padding: 10px 20px;
    border: 2px solid #f26722;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Style for selected radio button */
.radio-container input[type="radio"]:checked + label {
    background-color: #f26722;
    color: white;
}

/* Styling for the manual input field */
#manual-input {
    display: none;
    padding: 10px;
    border: 2px solid #f26722;
    border-radius: 5px;
    font-size: 16px;
}

/* End Form Donasi */